body {
    /* background-image: url("WallpaperDog-10791331.jpg");
    background-size: 100%; */
}

.mainnav {
    width: 60%;
    /* display: ; */
    margin: auto;
    background-color: rgba(128, 128, 128, 0.644);
    padding: 10px;
    text-align: center;
}

* {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    width: 100%;
    display: inline-block;
    padding: 15px 0px 15px 0px;
    transition:  background-color 200ms ease-in-out;
}

a:hover {
    background-color: rgb(134, 134, 134);
}

li {
    list-style: none;
    width: 25%;
    padding: 0px calc(75%/6);
    text-align: center;
}

ul {
    /* background-color: rgb(230, 230, 230); */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

}

body {
    margin: 0;
}

.dropdownicon {
    display: none;
}

@media screen and (max-width: 1000px){
    .mainbody{
        width: 75%;
    }
    ul{
        display: block;
    }

    li{
        display: none;
        padding: 0;
        width: 100%;
    }

    a{
        text-align: center;
    }

    .dropdownicon{
        display: block;
        width: 10%;
        margin-left: 90%;
    }

    nav ul li:not(nth-child(1)) a{
        text-align: left;
        padding-left: 20px;
    }

    .dropdownicon {
        text-align: center;
    }

    .displayNone {
        display: none;
    }

    .displayBlock{
        display: block;
    }

}